<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <meta charset="UTF-8"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <style>
            body {
                margin: 0;
                font-family: 'Roboto', sans-serif;
            }
            #leftMenu {
                background: #312d45;
                width: 230px;
                float: left;
                color: white;
                height: 100vh;
            }
            #leftMenu .nav_title img {
                max-width: 210px;
                margin: 10px auto;
                display: block;
            }
            .content {
                padding: 10px;
                float: left;
                width: 100%;
                background: #eaedf3;
                min-height: 100vh;
            }
            .profile_pic {
                width: 35%;
                float: left;
            }
            .img-circle.profile_img {
                width: 70%;
                margin-left: 15%;
                z-index: 1000;
                position: inherit;
                margin-top: 20px;
                border: 1px solid rgba(52, 73, 94, .44);
                padding: 4px;
            }
            .profile_info {
                padding: 25px 10px 10px;
                width: 65%;
                float: left;
            }
            .profile_info span {
                font-size: 13px;
                line-height: 30px;
                color: #BAB8B8;
            }
            .profile_info h2 {
                font-size: 14px;
                color: #ECF0F1;
                margin: 0;
                font-weight: 300;
            }
            .sidebar-nav {
                padding: 10px;
                position: relative;
                flex: 1;
                overflow-x: hidden;
                overflow-y: auto;
                transition: width 0.25s;
            }
            .nav {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 0;
                list-style: none;
            }
            .nav li {
                position: relative;
                display: list-item;
                margin: 0;
                transition: background 0.3s ease-in-out;
                width: 100%;
            }
            .nav-link {
                display: block;
            }
            .nav a {
                color: white;
            }
            .nav a:hover {
                background-color: #29253a !important;
            }
            .sidebar-footer {
                bottom: 0;
                clear: both;
                display: block;
                padding: 5px 0 0;
                position: fixed;
                background: #312d45;
                width: 230px;
                z-index: 456;
            }
            .sidebar-footer a {
                padding: 7px 0 3px;
                text-align: center;
                width: 25%;
                font-size: 17px;
                display: block;
                float: left;
                background: #29253a;
                cursor: pointer;
            }
            .sidebar-footer a:hover {
                background: #29253a;
            }
            .sidebar-footer a span {
                color: #86d62f;
            }
            h1 {
                text-align: center;
            }/* The Modal (background) */

        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 100000;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }


        /* Modal Content */

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 1220px;
        }


        /* The Close Button */

        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:focus,
        .close:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        input {
            border: none;
            background-image: none;
            background-color: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            color: white;
        }

        input::placeholder {
            color: white;
        }

        #addTL input::placeholder {
            color: black;
        }

        #addTL input {
            color: black;
        }

        #btn-projet {
            cursor: pointer;
        }

        .tasklist .selector {
            text-align: center;
            display: inherit;
        }

        .content {
            display: block;
            position: relative;
            background: #eaedf300;
        }

        .content::after {
            content: "";
            background: url("/img/{{project.logo}}") no-repeat fixed center;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }

        #ProjectPage {
            background-color: rgba(234, 237, 243, 0.7);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .sidenav {
            color: white;
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 17px;
            color: white;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        .sidenav>div {
            padding: 0 10px 0 10px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }
            .sidenav a {
                font-size: 18px;
            }
        }


        /* Menu Slider */

        .menuslide ul {
            list-style: none;
            padding-left: 0px;
        }

        .menuslide li {
            text-decoration: none;
            height: 40px;
            background-color: grey;
            margin-top: 5px;
            position: relative;
        }

        .menuslide a {
            cursor: inherit;
        }

        .menuslide ul li span {
            position: absolute;
            top: 14px;
            right: 7px;
            cursor: pointer;
        }

        [data-tooltip] {
            position: relative;
            z-index: 2;
            cursor: pointer;
        }

        [data-tooltip]:before,
        [data-tooltip]:after {
            visibility: hidden;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
            opacity: 0;
            pointer-events: none;
        }

        [data-tooltip]:before {
            position: absolute;
            bottom: 150%;
            left: 50%;
            margin-bottom: 5px;
            margin-left: -80px;
            padding: 7px;
            width: 160px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background-color: #000;
            background-color: hsla(0, 0%, 20%, 0.9);
            color: #fff;
            content: attr(data-tooltip);
            text-align: center;
            font-size: 14px;
            line-height: 1.2;
        }

        [data-tooltip]:after {
            position: absolute;
            bottom: 150%;
            left: 50%;
            margin-left: -5px;
            width: 0;
            border-top: 5px solid #000;
            border-top: 5px solid hsla(0, 0%, 20%, 0.9);
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            content: " ";
            font-size: 0;
            line-height: 0;
        }

        [data-tooltip]:hover:before,
        [data-tooltip]:hover:after {
            visibility: visible;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
            opacity: 1;
        }
        </style>
    </head>
    <body>
        <div class=" content" role="main">
    <!--Sliding Menu -->
    <div id="slidingRightMenu" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <h3 style="text-align: center;">Menu</h3>
    <hr>
    <div>
        <span>Vous avez {{countArchivedTask}} liste(s) de taches archivees.</span>
        {% if countArchivedTask > 0 %}
        <div class="menuslide">
            <a href="#" class="selector">Les Voir<span class="glyphicon glyphicon-chevron-down" style='color:white; margin-left:5px;' aria-hidden="true"></span></a>
            <ul>
                {% for ArchivedTasklist in ArchivedTasklists %}
                <li><a href="#">{{ArchivedTasklist.name}}</a><a href="#" data-tooltip="tooltip"><span class="glyphicon glyphicon-ok" onClick='restoreTaskList({{ArchivedTasklist.id}})' style='color:green;' aria-hidden="true"></span></a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <hr>
        Coming soon ™
    </div>
    </div>
    <!-- Modal content -->
    <div id="ProjectPage">
    <div id="myModal-projet" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 style="text-align:center;">MODIFIER LE NOM DU PROJET</h3>
            <br>
            <input id="project-update-input" value="{{project.name}}" style="color:black; width:100%; border:1px;"><br>
            <button id="project-update-button" onclick="projectUpdate({{project.id}})" type="button">Enregistrer</button>
            <hr>
            <span class="display-3" style="margin:auto;">Modifier l'image</span>
            {{ form_start(form) }}
            {{ form_row(form.logo) }}
            <button type="submit" class=" btn btn-sm btn-success administration" style="width:100%;">
            Mettre en ligne</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div id="myModal-task" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 style="text-align:center;">MODIFIER LE NOM DU TASK</h3>
            <br>
            <input id="task-update-input" value="" style="color:black; width:100%; border:1px;"><br>
            <input id="task-update-id" style="display:none;">
            <button id="task-update-button" onclick="updateTask()" type="button">Enregistrer</button>
        </div>
    </div>
    <div id="myModal-tasklist" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 style="text-align:center;">MODIFIER LE NOM DU TASKLIST</h3>
            <br>
            <input id="tasklist-update-input" value="" style="color:black; width:100%; border:1px;"><br>
            <input id="tasklist-update-id" style="display:none;">
            <button id="tasklist-update-button" onclick="updateTask()" type="button">Enregistrer</button>
        </div>
    </div>
    <div><img style="display: block;margin-top:10px;margin-left: auto;margin-right: auto;"src="/img/logo.png" width="210"></div>
    <h1>{{project.name}}
        {% if canEdit == 1 %}
        <span id='btn-projet' class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        {% endif %}
    </h1>
    <div style="text-align:center;">Vous avez {{countDoneTask}} tâche(s) effectuée(s) sur ce projet!</div>
    <br>
    {% for tasklist in tasklists %}
    <div class="tasklist" id="tasklist-{{tasklist.id}}" style="position:relative; width: 200px; min-height: 200px; background:white; radius:10px; padding: 10px; margin: 0 10px 0 10px;float:left;">
        {% if canEdit == 1 %}
        <div class="option" style="position:absolute; right: 10px;">
            <a href="#" onClick="archiveTaskList({{tasklist.id}})">
            <span><img height='14' src="/img/archive.png"></span>
            </a>
            <a href="#" onclick="delList({{tasklist.id}});">
            <span style="color:red;" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        </div>
        {% endif %}
        <center>
            <h4>{{tasklist.name}}</h4>
            <hr>
        </center>
        {% for task in tasks %}
        {% if task.idList == tasklist.id %}
        <div style="position:relative; background-color:grey; padding: 10px; color:white; margin-bottom: 10px;">
            {{task.name}}
            {% if canEdit == 1 %}
            <div class="option" style="position:absolute; right: 10px; top:12px;">
                <a href="#" onClick="itsdone({{task.id}})"><span style="color:#86d62f;" class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                <a href="#" onclick='updateModal({{task.id}},"{{task.name|e('js')}}")'>
                <span style="color:	#BC8F8F;" class="btn-update-task glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <a href="#" onclick="delTask({{task.id}});">
                <span style="color:red;" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        {% if canEdit == 1 %}
        <div style="background-color:grey; padding: 10px; color:white; margin-bottom: 10px;"><input id="addTask-{{tasklist.id}}" data="{{tasklist.id}}" placeholder="Ajouter une tâche..."></div>
        {% endif %}
        <div class="menuslide" id="slider">
            <a href="#" class="selector">Voir les tâches effectuées<span class="glyphicon glyphicon-chevron-down" style="color:white; margin-left:5px;" aria-hidden="true"></span></a>
            <ul style="display: none;">
                {% set found = 0 %}
                {% for task in tasksDone %}
                {% if task.idList == tasklist.id %}
                    <li><a href="#">{{task.name}}</a><a href="#" data-tooltip="tooltip"><span class="glyphicon glyphicon-ok" onclick="restoreTask({{task.id}})" style="color:green;" aria-hidden="true"></span></a></li>
                    {% set found = 1 %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% if found == 0 %}
                    <script>$('#tasklist-{{tasklist.id}} .menuslide').hide();</script>
                    <div style="text-align: center;font-style: italic;">Aucune tâche n'a été réalisée</div>
        {% endif %}
    </div>
    {% endfor %}
    {% if canEdit == 1 %}
    <div id="addTL" style="width: 200px; background:white; radius:10px; padding: 10px; margin: 0 10px 0 10px;float:left;">
        <input id="addTaskList" placeholder="Ajouter une liste...">
    </div>
    
    <span style=""onclick="slideDatTing()">open</span>
    <button style="" id="btn-update-open">{% endif %}
    <script>
        function archiveTaskList(id){
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/external/archiveTaskList/" + id, true);
            xhttp.send();
            setTimeout(function(){ location.reload() }, 500);
        }
        
        function restoreTask(id){
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/external/isNotDone/" + id, true);
            xhttp.send();
            setTimeout(function(){ location.reload() }, 500);
        }
        
        function itsdone(id){
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/external/isDone/" + id, true);
            xhttp.send();
            setTimeout(function(){ location.reload() }, 500);
        }
        
        function restoreTaskList(id){
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/external/restoreTaskList/" + id, true);
            xhttp.send();
            setTimeout(function(){ location.reload() }, 500);
        }
        
        function updateModal(id,name){
            $('#task-update-input').val(name);
            $('#task-update-id').val(id);
            $('#btn-update-open').click();
        }
        
        function updateTask(){
            var name = $('#task-update-input').val();
            var id = $('#task-update-id').val();
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/external/updateTask/" + id + "/" + name, true);
            xhttp.send();
            setTimeout(function(){ location.reload() }, 500);
        }
        
        function delList(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/external/delTaskList/" + id, true);
            xhttp.send();
            setTimeout(function(){ location.reload() }, 500);
        }
        
        function delTask(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/external/delTask/" + id, true);
            xhttp.send();
            setTimeout(function(){ location.reload() }, 500);
        }
        
        document.getElementById("addTaskList").onkeypress = function (event) {
            if (event.keyCode == 13 || event.which == 13) {
                var val = $('#addTaskList').val();
                var xhttp = new XMLHttpRequest();
                xhttp.open("GET", "/external/addTaskList/" + {{project.id}} + "/" + val, true);
                xhttp.send();
            setTimeout(function(){ location.reload() }, 500);
            }
        };
        
        $('.tasklist').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                var val = $('#' + document.activeElement.id).val();
                var taskListId = $('#' + document.activeElement.id).attr('data');
                var xhttp = new XMLHttpRequest();
                xhttp.open("GET", "/external/addTask/" + {{project.id}} + "/" + taskListId + "/" + val, true);
                xhttp.send();
            setTimeout(function(){ location.reload() }, 500);
            }
        });
        
        var modalProjet = document.getElementById('myModal-projet');
        var btnProjet = document.getElementById("btn-projet");
        var span = document.getElementsByClassName("close")[0];
        btnProjet.onclick = function () {
            modalProjet.style.display = "block";
        }
        span.onclick = function () {
            modalProjet.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modalProjet) {
                modalProjet.style.display = "none";
            }
        }
        
        var modal = document.getElementById('myModal-task');
        var btn = document.getElementById("btn-update-open");
        var span = document.getElementsByClassName("close")[1];
        
        btn.onclick = function () {
            modal.style.display = "block";
        }
        
        span.onclick = function () {
            modal.style.display = "none";
        }
        
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        
        function projectUpdate(id) {
            var name = $('#project-update-input').val();
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/external/update/" + id + "/" + name, true);
            xhttp.send();
            setTimeout(function(){ location.reload() }, 500);
        }
        function slideDatTing() {
            document.getElementById("slidingRightMenu").style.width = "250px";
        }
        
        function closeNav() {
            document.getElementById("slidingRightMenu").style.width = "0";
        }
        $(document).ready(function(){
            $(".menuslide ul").hide();
            $(".menuslide .selector").click(function(){
                $(this).parent().find("ul").stop(true,true).slideToggle("600");
            });
        });
    </script>
    </div>
</div><script>
        function logoff() {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/logoff/", true);
            xhttp.send();
            //location.reload();
            setTimeout(function(){ location.reload() }, 500);
        }
        </script>
    </body>
</html>