{% extends 'base.html.twig' %}

{% block title %}Hello
    {{ controller_name }}!{% endblock %}

{% block body %}
    <style>input{
     border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color:white;
    }
    input::placeholder{color:white;}
    #addTL input::placeholder{color:black;}
    #addTL input{color:black;}
    </style>
    <h1>{{project.name}}</h1>
    {% for tasklist in tasklists %}
        <div class="tasklist" style="position:relative; width: 200px; min-height: 200px; background:white; radius:10px; padding: 10px; margin: 0 10px 0 10px;float:left;">
            <div class="option" style="position:absolute; right: 10px;">
                <a href="#" onclick="delList({{tasklist.id}});">
                    <span style="color:red;" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </div>
            <center>
                <h4>{{tasklist.name}}</h4><hr></center>
            {% for task in tasks %}
                {% if task.idList == tasklist.id %}
                    <div style="position:relative; background-color:grey; padding: 10px; color:white; margin-bottom: 10px;">{{task.name}}
                        <div class="option" style="position:absolute; right: 10px; top:12px;"><a href="#" onclick="delTask({{task.id}});">
                            <span style="color:red;" class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></div>
                    </div>
                {% endif %}
            {% endfor %}
            <div style="background-color:grey; padding: 10px; color:white; margin-bottom: 10px;"><input id="addTask-{{tasklist.id}}" data="{{tasklist.id}}" placeholder="Ajouter une tâche..."></div>
        </div>
    {% endfor %}
    <div id="addTL" style="width: 200px; background:white; radius:10px; padding: 10px; margin: 0 10px 0 10px;float:left;">
        <input id="addTaskList" placeholder="Ajouter une liste...">
    </div>
    <script>
        function delList(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/project/delTaskList/" + id, true);
            xhttp.send();
            location.reload();
        }
        function delTask(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/project/delTask/" + id, true);
            xhttp.send();
            location.reload();
        }

        document.getElementById("addTaskList").onkeypress = function (event) {
            if (event.keyCode == 13 || event.which == 13) {
                var val = $('#addTaskList').val();
                var xhttp = new XMLHttpRequest();
                xhttp.open("GET", "/project/addTaskList/" + {{project.id}} + "/" + val, true);
                xhttp.send();
                location.reload();
            }
        };

        $('.tasklist').keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                var val = $('#' + document.activeElement.id).val();
                var taskListId = $('#' + document.activeElement.id).attr('data');
                var xhttp = new XMLHttpRequest();
                xhttp.open("GET", "/project/addTask/" + {{project.id}} + "/" + taskListId + "/" + val, true);
                xhttp.send();
                location.reload();
            }

        });
    </script>
{% endblock %}